// partials importing
@use "./sections/navbar";
@use "./sections/hero-section";
@use "./sections/service-section";
@use "./sections/story-section";
@use "./sections/faq-section";
@use "./sections/contact-section";
@use "./sections/clients";
@use "./sections/footer";


//font-family: "Parkinsans", serif;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter Tight", serif;
  font-size: 16px;
  text-decoration: none;
  list-style: none;
}

body {
  width: 100vw;
  height: 100vh;
  background: #fff;
}
// repetitive Tags
.container {
  width: 1440px;
  margin: 0 auto;
}

.slogan {
  color: #219281;
  font-family: "Assistant", serif;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.8rem;
}
.title {
  margin-top: 1rem;
  color: #212121;
  font-family: "Parkinsans", serif;
  font-size: 4rem;
  font-weight: 600;
  line-height: 4.5rem;
}
.section-detail {
  max-width: 560px;
  margin: 0 auto;
  margin-top: 0.9rem;
  color: #a5a5a5;
  font-family: "Parkinsans", serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.8rem;
}

// color
$primary: #219281;
