// footer banner styling
.banner {
  position: relative;
  .banner-texts {
    display: flex;
    position: absolute;
    top: 42px;
    .btext {
      margin-left: 2rem;
      color: #fff;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 36px;
      font-weight: 300;
      line-height: 42px;
      letter-spacing: 1.5rem;
    }
    #text1 {
      transform: rotate(2deg);
    }
    #text2 {
      transform: rotate(2deg);
    }
    #text3 {
      transform: rotate(-5deg);
    }
  }
}
// footer link and address styling
.footer-area {
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
}
#item-title {
  color: #212121;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1.6rem;
  margin-top: 0.5rem;
}

.address-area {
  .address {
    max-width: 280px;
    color: #676666;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6rem;
    margin: 1rem 0;
  }
}
.link-area {
  display: flex;
  gap: 5rem;
  .listed-link > ul > li {
    margin-top: 1.5rem;
    .list-item {
      color: #212121;
      font-size: 1rem;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 500;
      line-height: 1.7rem;
    }
  }
  .social-link > .social-group {
    display: flex;
    gap: 1rem;
    margin-top: 1.5rem;
    .icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 2.2rem;
      height: 2.2rem;
      color: #fff;
      background-color: #219281;
      padding: 0.5rem;
      border-radius: 50%;
      .fa-brands {
        font-size: 1.2rem;
      }
    }
  }
  .social-link > .social-stamp {
    margin-top: 0.8rem;
    color: #212121c8;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.5rem;
  }
}

.copyright-area {
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
  padding: 2rem 0;
  border-top: 1px solid #e5e5e5;
  .copyright {
    color: #676666;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.2rem;
  }
  .condition {
    display: flex;
    gap: 2rem;
    a {
      color: #676666;
      p {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.2rem;
      }
    }
  }
}
