.nav-wrapper {
  padding: 2rem;
  margin: 0.5rem 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: #f6f6f6 solid 1px;
  border-radius: 32px;
  box-shadow: rgba(0, 0, 0, 0.01) 0px 2px 2px;
  .dark-logo a {
    color: #000;
    font-size: 2rem;
    font-weight: 600;
  }
  .navs ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    .nav-item {
      padding: 0.5rem;
      list-style: none;
      color: #393939;
      font-size: 1rem;
      font-weight: 400;
    }
  }
  .cta {
    background: #000;
    padding: 0.8rem 1.5rem;
    border-radius: 40px;
    .button {
      color: #fff;
      font-size: 1.2rem;
      font-weight: 500;
    }
  }
}
